@font-face {
    font-family: 'GraphikRegular';
    src: local('GraphikRegular'), url(../public/assets/fonts/GraphikRegular.otf) format('truetype');
  }


  @font-face {
    font-family: 'GraphikSemiBold';
    src: local('GraphikSemiBold'), url(../public/assets/fonts/GraphikSemibold.otf) format('truetype');
  }

  @font-face {
    font-family: 'GraphikMedium';
    src: local('GraphikMedium'), url(../public/assets/fonts/GraphikMedium.otf) format('truetype');
  }

